section{
    height: 100vh;
    
}


.home{

background-image: url("../img/img home maos.png");
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: darken;
padding-left: 128px;
padding-right: 128px;
z-index: 1;

}

.title-home-container{
   
    position: relative;
    padding-top: 250px;
    right: 29px;
    color: white;
    text-align: center;
    
    font-size: 3.7rem;
    font-family: 'Bebas Neue', cursive;
    width: 40%;


}
.subtitle-home{
    display: flex;
    color: white;
    font-family: 'Lustria', serif;
    font-size: 1.2rem;
    justify-content: flex-end;

}
.img-casa{
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    padding-left: 12%;
}
.sobrenos{
    color: white;
    display: flex;
    font-size: 180%;
    transform: translate(200%);
    text-shadow: black 1.3em 0.2em 0.2em
    font-family: 'Lustria', serif;
}
.caixa1{
    
    width: 468px;
    height: 554px;
    left: -70px;
    top: 1px;
    background: #55775e9f;
    border-radius: 3px;
    position: relative;
    
}
.caixa2{
    width: 432px;
    height: 527px;
    left: 10px;
    top: 10px;
    z-index: 10;
    background: #55775E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.sn-text{
    color: white;
    font-family: 'Lustria', serif;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1cm;
    padding-top: 1cm;
}
.caixa1-inclusao{
    width: 550px;
    height: 163px;
    right: 70px;
    top: 7px;
    background: #55775e9f;
    border-radius: 3px;
    position: relative;

}
.caixa2-inclusao{
    width: 521.4px;
    height: 144.13px;
    left: 54px;
    top: 756px;
    z-index: -1;
    background: #55775E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.texto-inclusao{
    color: white;
    font-family: 'Lustria', serif;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1cm;
    padding-top: 1cm;
}
.sn-container{
position: relative;
background-color: #829B89;
display: flex;

}

.sn-container .texto {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 40%;
}
.sn-container .imagens {
display: flex;
justify-content: space-between;
align-items: center;
flex-grow: 1;
}

.sn-container .imagens .img-destaque{
position: absolute;
}

.sn-container .imagens .produto-img.img-destaque {

top: 596px;
right: 380px;
}


.sn-container .imagens .dog-img.img-destaque{

top: 25px;
right: 100px;


}

.sn-container .imagens .sobrenos-img.img-destaque{

left: 608px;
top: 201px;
}
.sn-container .imagens .linhas.img-destaque{

    padding-left: 400px;
    z-index: 3;
    top: 481px;
    
}

.tituloo{
    display: flex;
    justify-content: center;
}
.fundadores-container{
    background-color:  #BBC9BF;
    display: flex;
    height: 240vh;
    flex-wrap: wrap;
}

.fundadores-title{
    font-family: 'Mulish', sans-serif;
    color: #07280F;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.fundadores{
    display: flex;
    width: 950px;
    margin-top:10px;
}

.fundadores-img{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
   
    gap: 111px;
    margin-left: 200px;
}

 
.caixa1-missao{
width: 400px;
height: 600px;
left: 964px;
top: 14px;
margin-top: 200px;
display: flex;
background: rgba(130, 155, 137, 0.81);
border-radius: 3px;
z-index: 1;
transform: translate(50%);
color: white;
font-family: 'Lustria', serif;
display: flex;
align-items: center;


}
.caixa2-missao{
width: 400px;
height: 650px;
left: 978px;
top: 134px;
margin-bottom: 90px;
margin-left: 1%;
display: flex;
flex-wrap: wrap;
transform: translate(10%);
background: rgba(85, 119, 94, 0.95);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;
z-index: -1;

}
.missao-titulo{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
;


}
.missao-texto{
    margin-left: 10%;
    margin-top: 5%;
}
.visao-title{
    height: 5%;
    font-size: 1.5rem;
    margin-left: 70%;
    margin-top: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.visao-texto{
    margin-left: 10%;
    margin-top: 5%;
}
.valores-title{
    height: 4%;
    font-size: 1.5rem;
    margin-left: 5%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 5%;
}
.valores-container-esquerda{
    
    display: flex;
    flex-direction: column;
    width:60%;
    height: 80%;
    margin-top: 15%;
    margin-left: 10%;
    z-index: 1;
    justify-content: flex-start;
    text-align: start;
}
.linha-missa{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 10px;
    flex-wrap: wrap;
    margin-top: 35px;
}
.valores-all{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 30%;
}
.valores-container-direita{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    width: 20%;
    height: 45%;
    margin-top:15%;
    
}
.img-mao-planta{
    align-items: center;
    justify-content: center;
    width: 1905px;
   
   margin-top: 60px;
   

    
 }  


  .colaboradores-container{
    display: flex; 
    justify-content: space-around
     flex-direction: row;
     flex-wrap: wrap;
     
 } 

 .img-julia{
    
 }





.beneficios-container{
background-color: #BBC9BF;
    
}
.beneficios-titulo{
    display: flex;
    justify-content: center;
}
.titulo-cap{
    display: flex;
    justify-content: center;
    
}
.lista{
    background-color: tomato;
    display: flex;
    
}



.vagas-container{
background-color: #829B89;

    
}
footer{
background-color: blue;
height: 80px;
}