*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{ 
    text-decoration: none;
    color: white;
}

ul{ 
    list-style: none;
}
html{
    scroll-behavior: smooth;

}
:root{
    --accent-color:#55775E
}
body , html{
    
}